// Surface Colors
$surface-x-high: #8C8C9A;
$surface-x-low: #FFFFFF;
$surface-brand: #0050FF;
$surface-danger: #DC2828;
$surface-danger-variant: #FFDCDC;
$surface-warning: #A56315;
$surface-warning-variant: #FAF1B6;

// Content Colors
$content-on-neutral-xx-high: #2C2C31;
$content-on-neutral-medium: #8C8C9A;
$content-on-neutral-low: #C9C9CE;
$content-on-neutral-danger: #DC2828;
$content-on-neutral-warning: #A56315;

// State Colors
$state-default-hover: rgba(26, 26, 26, 0.06);
$state-default-focus: rgba(26, 26, 26, 0.8);


