@import "./Typography.scss";
@import "./Colors";

.input-container {
  display: flex;
  flex-direction: column;


  .title-wrapper{
    display: flex;
    align-items: baseline;
    gap: 8px;
    width: 100%;
    margin-bottom: 8px;

    .font-label-m-name {
      @extend .font-label-m;
      color: $content-on-neutral-xx-high;
    }

    .font-label-s-optional {
      @extend .font-label-s;
      color: $content-on-neutral-low;
    }

  }

  .input-wrapper {
    position: relative;
    width: 100%;
  }

  .input {
    @extend .font-label-m;
    width: 400px;
    max-height: 48px;
    border: 1px solid $surface-x-high;
    border-radius: 12px;
    padding: 12px 8px 12px 16px;
    box-sizing: border-box;
    transition: border 0.2s ease-in-out;
    caret-color: $surface-brand;


    &:hover {
      border-color: $state-default-hover;
      outline: none;
    }

    &:focus {
      border: 3px solid $state-default-focus;
      outline: none;

    }
    &::placeholder {
      @extend .font-body-m;
      color: $content-on-neutral-low;
    }
  }

  .input-error {
    border-color: $surface-danger;
    color: $content-on-neutral-danger;
    &::placeholder {
      color: $content-on-neutral-danger;
    }
  }

  .input-error:focus {
    border-color:  $content-on-neutral-danger;
  }

  .spinner {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: conic-gradient(from 180deg at 50% 50%, $surface-brand 0deg, rgba(0, 80, 255, 0) 360deg);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    from {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(360deg);
    }
  }

  .error-text {
    color: $content-on-neutral-danger;
    font-size: 14px;
  }
}

.input-container.error {
  .title-wrapper .font-label-m,
  .title-wrapper .font-label-s {
    color: $content-on-neutral-danger;
  }
}

.input-container:not(:last-child) {
  margin-bottom: 30px;
}
