
$font-family: "On Air Var";

.font-label-m {
  font-family: $font-family;
  @media (min-width: 375px)  {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.16px;
  }
}

.font-label-s {
  font-family: $font-family;
  @media (min-width: 375px)  {
    font-size: 14px;
    font-weight: 550;
    line-height: 17px;
    letter-spacing: 0.16px;
  }
}

.font-body-m {
  font-family: $font-family;
  @media (min-width: 375px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01px;
    margin-bottom: 20px;
  }
}
